<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tutores Destacados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="plantilla :: header"></div>

<div class="container text-center my-5">
    <h1 class="mt-4 text-primary">Tutores Destacados</h1>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-3 mb-4" th:each="tutor : ${tutores}">
            <div class="card shadow-sm">
                <img th:src="@{/imagenes/__${tutor.foto}__}" class="card-img-top" alt="Foto del tutor">
                <div class="card-body">
                    <h5 class="card-title" th:text="${tutor.nombre}">Nombre</h5>
                    <p class="card-text" th:text="'Calificación: ' + ${tutor.calificacion} + ' / 5'">Calificación</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 px-3 py-3
