<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="~{plantilla :: head}"></head>
    <body>
        <header th:replace="~{plantilla :: header}"></header>

        <main class="container my-5">
            <h2 class="text-center mb-4">Inicio de Sesión</h2>

            
            <div class="bg-primary bg-opacity-10 p-5 rounded shadow" style="max-width: 500px; margin: auto;">

                <form th:action="@{/ingresar}" method="post">
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo:</label>
                        <input type="email" id="correo" name="correo" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="contrasena" class="form-label">Contraseña:</label>
                        <input type="password" id="contrasena" name="contrasena" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo de usuario:</label>
                        <select id="tipo" name="tipo" class="form-select" required>
                            <option value="">Seleccione</option>
                            <option value="profesor">Profesor</option>
                            <option value="estudiante">Estudiante</option>
                        </select>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark px-4">Ingresar</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p th:text="${mensaje}" class="text-danger fw-bold"></p>
                </div>

            </div>

        </main>

        <footer th:replace="~{plantilla :: footer}"></footer>
    </body>
</html>
